<div class="page-wraper">

	<!-- header -->
	<app-header-light3></app-header-light3>
	<!-- header END -->
	<!-- Content -->
	<div class="page-content bg-white">
		<!-- inner page banner -->
		<app-banner1 [data]="banner"></app-banner1>
		<!-- inner page banner END -->
		<!-- contact area -->
		<!-- <div class="content-area">
			<div class="container">
				<div class="row"> -->

		<!-- <ng-template [ngIf]="layout.sidebar">
						<div class="col-xl-3 col-lg-4 col-md-12" *ngIf="layout.sidebarPosition=='left'">
							<aside class="side-bar sticky-top">
								<app-search-form3></app-search-form3>
								<app-recent-posts1></app-recent-posts1>
								<app-our-gallery1></app-our-gallery1>
								<app-category-list1></app-category-list1>
								<app-tag-list1></app-tag-list1>
							</aside>
						</div>
					</ng-template> -->

		<!-- left part start -->
		<!-- <div class="" [ngClass]="{'col-xl-9 col-lg-8 col-md-12 m-b30': layout.sidebar === true, 'col-xl-12 col-lg-12': layout.sidebar === false}"> -->
		<!-- blog start -->
		<!-- <div class="blog-post blog-single sidebar">
							<div class="dlab-info">
								<div class="dlab-post-meta">
									<ul>
										<li class="post-author"> <i class="la la-user-circle"></i> By <a href="javascript:void(0);">Caroline</a> </li>
										<li class="post-date"> <i class="la la-clock"></i> 01 June  2020 </li>
										<li class="post-tag"> <a href="javascript:void(0);">Education</a> </li>
									</ul>
								</div>
								<h2 class="dlab-title">Here's What People Are Saying About</h2>
								<div class="dlab-media">
									<a href="javascript:void(0);"><img src="assets/images/blog/default/thum3.jpg" alt=""></a>
								</div>
								<div class="dlab-post-text text">
									<p>Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Sed maximus orci ac condi mentum efficitur. Suspendi potenti. Fusce diam felis, ullamcor aca felis sed, volutpat varius tortor. Ut eleifend justo sed quam blandit, vehicula ante hendrerit. Sed condimentum libero vel eros porta, eu malesuada nulla bibendum. Proin varius sollicitudin nulla quis fermentum. Nunc vitae arcu eget diam gravida ultrices finibus nec mi. Maecenas egestas libero.</p>
									<p>Donec ultricies convallis urna. Morbi consequat vestibulum nunc sed semper. Proin iaculis risus eleifend, efficitur eros et, tristique tortor. Integer nec lacinia augue. Curabitur mattis vel orci id mattis. Aliquam eu dignissim sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vitae fermentum quam.</p>
									<ul>
										<li><a href="javascript:void(0);">Duis auctor sed elit quis consequat.</a> Fusce est quam, sodales vel eros vitae, dictum consectetur dolor. Fusce convallis mauris tellus, eu aliquet magna aliquet eget.</li>
										<li>Nam iaculis, <a href="javascript:void(0);">enim ut elementum maximus, quam lectus convallis metus, </a>id suscipit risus lectus id urna. Cras viverra consectetur diam. Morbi sed consequat tellus, in vehicula urna.</li>
										<li><a href="javascript:void(0);">Morbi sit amet diam sodales, sodales purus quis, </a>feugiat turpis. Maecenas elementum mauris quis plac erat maximus. <a href="javascript:void(0);">Curabitur elementum lobortis malesuada.</a></li>
									</ul>
									<p>Aliquam laoreet fringilla velit, quis pulvinar ex bibendum vestibulum. Aenean vel dapibus ex. Curabitur sodales dui ut hendrerit volutpat. Phasellus fringilla semper urna, eu dapibus lacus porttitor at. Sed eget pellentes orci. Aliquam pulvinar augue sed molestie semper. Integer ullamcorper magna fringilla arcu rutrum, sed porttitor ex viverra. </p>
									<ul class="wp-block-gallery columns-3">
										<li class="blocks-gallery-item"><img alt="" src="assets/images/gallery/pic2.jpg"></li>
										<li class="blocks-gallery-item"><img alt="" src="assets/images/gallery/pic1.jpg"></li>
									</ul>
									<h4>Curabitur elementum lobortis malesuada.</h4>
									<p>Aliquam laoreet fringilla velit, quis pulvinar ex bibendum vestibulum. Aenean vel dapibus ex. Curabitur sodales dui ut hendrerit volutpat. Phasellus fringilla semper urna, eu dapibus lacus porttitor at. Sed eget pellentes orci. Aliquam pulvinar augue sed molestie semper. Integer ullamcorper magna fringilla arcu rutrum, sed porttitor ex viverra. </p>
									<blockquote class="wp-block-quote">
										<p>Use this static Page to test the Theme’s handling of the Blog Posts Index page. If the site is set to display a static Page on the Front Page, and this Page is.</p>
										<cite>WordPress Community</cite>
									</blockquote>
									<p>Cras ac erat sapien. Etiam porta, arcu sed scelerisque dapibus, orci felis tincidunt tellus, at bibendum ex velit ac dolor. Aenean auctor, lectus laoreet efficitur dapibus, orci nulla ultrices risus, sed volutpat nisl nulla at felis. Integer ligula risus, ultricies eu velit non, rutrum consectetur neque. Sed ullamcorper sed massa quis hendrerit. </p>
									<p>Nulla ultrices diam at odio malesuada lacinia. Fusce eget posuere purus. Donec accumsan vehicula mi, id imperdiet nulla ornare eu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
									<p>Praesent vehicula neque et augue consectetur placerat. Ut pellentesque euismod sapien eget venenatis. Proin massa lacus, dapibus a scelerisque a, molestie sit amet mauris. Cras maximus lectus quis orci feugiat, at tristique velit bibendum. Etiam augue arcu, cursus id egestas ut, viverra at urna. Quisque ipsum sit amet aliquet tempus. </p>
									
								</div>
								<div class="post-footer">
									<div class="dlab-meta">
										<span class="title">TAGS : </span>
										<ul class="tag-list">
											<li class="post-tag"><a href="tags">#Lifestyle</a></li>
											<li class="post-tag"><a href="tags">#Blog</a></li>
											<li class="post-tag"><a href="tags">#Instagram</a></li>
											<li class="post-tag"><a href="tags">#Image</a></li>
										</ul>
									</div>
									<div class="share-post">
										<ul class="list-inline m-b0">
											<li><a href="javascript:void(0);" class="site-button sharp radius-xl facebook"><i class="fa fa-facebook"></i></a></li>
											<li><a href="javascript:void(0);" class="site-button sharp radius-xl instagram"><i class="fa fa-instagram"></i></a></li>
											<li><a href="javascript:void(0);" class="site-button sharp radius-xl twitter"><i class="fa fa-twitter"></i></a></li>
											<li><a href="javascript:void(0);" class="site-button sharp radius-xl linkedin"><i class="fa fa-linkedin"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div> -->

		<!-- <div class="clear m-b30" id="comment-list">
					<app-comments1></app-comments1>
					</div> -->
		<!-- Form -->
		<!-- <app-comment-form1 [data]="layout"></app-comment-form1> -->
		<!-- blog END -->
		<!-- </div> -->


		<!-- Side bar start -->
		<!-- <ng-template [ngIf]="layout.sidebar">
					<div class="col-xl-3 col-lg-4 col-md-12" *ngIf="layout.sidebarPosition=='right'">
						<aside class="side-bar sticky-top">
							<app-search-form3></app-search-form3>
							<app-recent-posts1></app-recent-posts1>
							<app-our-gallery1></app-our-gallery1>
							<app-category-list1></app-category-list1>
							<app-tag-list1></app-tag-list1>
						</aside>
					</div>
					</ng-template> -->
		<!-- </div>
			</div>
		</div> -->
		<!-- Content END-->
		<!-- Footer -->
		<!-- Newsletter -->
		<!-- <app-newsletter2></app-newsletter2> -->

		<!-- new  -->
		<section>
			<div class="container">
				<div class="row">


					<div class="single-service">

						<!-- <img class="img-fullwidth" alt="" src="https://placehold.it/220x160"> -->

						<h3 class="text-theme-colored line-bottom text-theme-colored">شروط الخدمة </h3>


						<p>يرجى قراءة شروط الخدمة هذه (“شروط الخدمة “) وسياسة الخصوصية وميثاق الشرف الخاص بالتدريب لمركز
							إثراء الحياة النسائي للتدريب قبل التسجيل لدى الموقع الإلكتروني إثراء الحياة أو استخدام أي
							جزء
							من محتويات الموقع (ونعني بكلمة “الموقع”، جميع المحتويات والصفحات التي تقع ضمن نطاق موقع
							إثراء الحياة النسائي للتدريب الإلكتروني عبر الإنترنت)، بما في ذلك الوصول إلى أي من المواد
							الخاصة
							بالمساقات، وغرف الدردشة، أو الخدمات الإلكترونية الأخرى. تعتبر كل من هذه الشروط وسياسة
							الخصوصية وميثاق الشرف بمثابة اتفاقيات (قد يتم الإشارة إليها فيما بعد، مجتمعةً، باسم
							“اتفاقيات”) بينك وبين إثراء الحياة النسائي للتدريب. كما أنك تقبل وتوافق من خلال استخدامك
							للموقع
							الإلكتروني على الالتزام قانوناً بالاتفاقيات، سواء كنت مستخدماً مسجلاً على الموقع أم لا.</p>

						<p>يحتفظ مركز إثراء الحياة النسائي للتدريب بحق تعديل هذه الشروط في أي وقت دون إشعارك مسبقاً.
							تعتبر
							التغييرات التي تتم على هذه الشروط نافذةً فور نشرها على هذه الصفحة أو ضمن أي قسم آخر من
							الموقع. يُعد دخولك إلى الموقع بعد إجراء أية تغييرات موافقة منك على الشروط المعدّلة وكافة
							التغييرات الواردة فيه.</p>

						<p>تأكّد من أن تتطلع على هذه الصفحة بشكل دوري لتبقى مطلعاً على الإصدار الأحدث لهذه الشروط.</p>

						<h4>لمحة عن إثراء الحياة النسائي للتدريب</h4>

						<p>يقدم مركز إثراء الحياة النسائي للتدريب مجموعة من البرامج التدريبية التطويرية من خلال البث
							الحي
							التفاعلي بين المحاضرين والمدربين وذلك من خلال التدريب الإلكتروني "عن بُعد" أو الحضورية في
							القاعات التدريبية .<br>
							والتي لا يسمح بتسجيلها او نقلها أو تحميل المحتوي الخاص بها بدون اذن رسمي وموثق من إدارة
							المركز.</p>

						<h4>قواعد السلوك عبر الإنترنت</h4>

						<p>أنت توافق على أنك مسؤول بالكامل عن استخدامك لموقع إثراء الحياة النسائي للتدريب والمواد التي
							يتم
							نشرها من خلال اسم المستخدم الخاص بك، والتي يجب أن تشمل كامل المحتوى الذي يتم تقديمه ونشره أو
							توزيعه على الموقع من قبلك أو من قبل مستخدمين آخرين للموقع، بما في ذلك وعلى سبيل المثال لا
							الحصر، جميع المشاركات ضمن الموقع والتعديلات على الملاحظات والأسئلة والتعليقات ومقاطع الفيديو
							وتحميلات الملفات (“مشاركات المستخدم”). كما أنك توافق على استخدامك للموقع ملتزماً بالاتفاقيات
							وجميع القوانين المحلية والإقليمية والدولية والقواعد والأنظمة المعمول بها، بما في ذلك قوانين
							حقوق التأليف والنشر، وأية قوانين تتعلّق بنقل البيانات الفنية المصدّرة من بلد إقامتك.</p>

						<p>أنت تتعهّد من خلال هذه الوثيقة، وكشرط لاستخدامك للخدمات التي يقدمها مركز إثراء الحياة النسائي
							للتدريب
							للتدريب عبر موقعه الإلكتروني، أنك لن تستخدم الموقع بأي طريقة تهدف إلى الإساءة أو تعطيل أو
							إعاقة أو إرهاق خادم إثراء الحياة النسائي للتدريب أو شبكة (شبكات) إثراء الحياة النسائي
							للتدريب المتصلة
							بأي خادم من خوادمها أو التدخّل بأي طرف ثالث والتمتّع بالموقع. كما لا يجوز لك محاولة الوصول
							غير المصرّح به إلى الموقع،وحسابات أخرى أو أنظمة كمبيوتر أو شبكات متصلة بأي خادم للألفية
							الثالثة من خلال القرصنة واستخراج كلمة المرور أو أي وسيلة أخرى. لا يجوز لك الحصول أو محاولة
							الحصول على أي مواد أو المعلومات المخزنة على الموقع، أو أي من خوادمه أو أجهزة الحاسوب
							المرتبطة به من خلال أي وسيلة لم يتم إتاحتها عن قصد من خلال الموقع.
						</p>

						<p>توضّح القائمة التالية المواد التي يُمنَع منعاً باتاً تداولها على الموقع الالكتروني
							:</p>

						<ul dir="rtl">
							<li>المحتوى الذي يخالف العقيدة الإسلامية.</li>
							<li>المحتوى الذي يخالف قوانين المملكة العربية السعودية.</li>
							<li>المحتوى الذي يشهّر أو يضايق أو يهدّد الآخرين</li>
							<li>المحتوى الذي يناقش أنشطة غير مشروعة</li>
							<li>المحتوى الذي ينتهك الملكية الفكرية لطرف ثالث، بما في ذلك وعلى سبيل المثال لا الحصر، حقوق
								التأليف والنشر أو العلامات التجارية</li>
							<li>المحتوى الدنس أو الإباحي أو المخلّ بالآداب أو غير اللائق أو غير المصرح به الإعلان أو أي
								شكل من أشكال الدعاية التجارية</li>
							<li>المحتويات التي لها علاقة بالأنشطة السياسية الحزبية<br>
								الفيروسات، وأحصنة طروادة، والديدان، والقنابل الموقوتة أو ملفات تالفة، والبرمجيات الخبيثة
								وبرامج التجسس أو أي برامج أخرى مماثلة قد تلحق الضرر بعمل حاسوب أو ممتلكات أخرى</li>
							<li>المحتوى الذي يتضمن معلومات غير دقيقة عن قصد أو التي يتم نشرها بقصد تضليل الآخرين.</li>
						</ul>

						<p>علاوة على ذلك، أنت توافق على عدم محاولة جمع معلومات أو تنزيل أي محتوى من محتويات الموقع أو
							تحميل اي من المحتويات البث المباشر وعند التحميل والتسجيل بدون إذن مسبق يعرضك ذلك للمساءلة
							القانونية</p>

						<p>بما يشمل ولا يقتصر على قائمة أو دليل مستخدمي النظام، والكتب الدراسية المتاحة عبر الإنترنت، أو
							منشورات المستخدمين أو معلوماتهم الشخصية. كما أنك توافق على عدم تحريف أو محاولة تحريف هويتك
							أثناء استخدام الموقع.</p>

						<p>إنّ أي انتهاك لبنود قائمة المحظورات المذكورة أعلاه تخوّل إثراء الحياة النسائي للتدريب إنهاء
							استخدامك ووصولك و/أو مشاركتك في الموقع دون إشعار مسبق.</p>

						<h4>حسابات المستخدمين والصلاحيات</h4>

						<p>للاستفادة من المشاركة الكاملة في الأنشطة والخدمات التي يقدمها مركز إثراء الحياة النسائي
							للتدريب
							على موقعه الإلكتروني، يجب عليك تزويدنا باسمك ورقم هويتك ورقم جوالك الشخصي وعنوان البريد
							الإلكتروني وكلمة المرور الخاصة بالمستخدم وذلك لإنشاء حساب مستخدم جديد (والذي يُشار إليه بـ
							“حساب المستخدم”). إنك توافق على أنك لن تقوم أبداً بإفشاء أو مشاركة دخولك للموقع أو مشاركة
							معلومات حساب المستخدم الخاص بك مع أي طرف ثالث لأي سبب من الأسباب. أثناء إنشاء حساب المستخدم
							الخاص بك، قد تتم مطالبتك بإدخال معلومات إضافية اختيارية (على سبيل المثال، عنوانك). أنت تصرّح
							أنّ جميع المعلومات التي قدمتها هي معلومات دقيقة وحديثة. كما أنك توافق على صيانة وتحديث
							المعلومات الخاصة بك لإبقائها دقيقة وحديثة. </p>

						<p>نحن نهتم بسرية وأمن المعلومات الشخصية الخاصة بك. يرجى الاطلاع على سياسة الخصوصية الخاصة بنا
							للمزيد من المعلومات حول ماهية المعلومات التي قد تجمعها إثراء الحياة النسائي للتدريب عنك وكيف
							تستخدم إثراء الحياة النسائي للتدريب تلك المعلومات. يُعد دخولك إلى الموقع دلالة على أنك توافق
							على
							جمع واستخدام المعلومات الخاصة بك عن قبل إثراء الحياة النسائي للتدريب.
						</p>

						<h4>حقك في استخدام المحتوى الموجود على الموقع</h4>

						<p>تمّت حماية محتويات الموقع كافة من الجهات ذات العلاقة لحماية حقوق التأليف والنشر ما لم يرد
							بأنه ملكية عامة.</p>

						<p>إنّ جميع النصوص والاختبارات ومقاطع الفيديو والصور وغيرها من المواد التعليمية المتوفرة مع
							الدورات التدريبية المقدّمة في موقع مركز إثراء الحياة النسائي للتدريب، هي للاستخدام الشخصي
							الخاص
							بك والمتعلّق بتلك الدورات فقط، ما لم يرد خلاف ذلك صراحةً ضمن الموقع.<br>
							يخضع استخدام بعض الوثائق المرجعية والكتب الدراسية الرقمية والمقالات وغيرها من المعلومات
							على
							الموقع لإذن من قبل أطراف ثالثة، إذ يخضع استخدام هذه المعلومات لقواعد وشروط معينة سيتم
							نشرها
							جنباً إلى جنب مع هذه المعلومات. إنك تتعهّد بموجب هذه الوثيقة، وباستخدامك لهذا الموقع،
							على
							الالتزام بجميع هذه القواعد والشروط.</p>

						<p>كما أنك توافق على الحفاظ على جميع حقوق التأليف والنشر والإشعارات الأخرى التي تخص أي محتوى
							تحصل عليه من خلال الموقع. جميع حقوق هذا الموقع ومحتواه محفوظة .</p>

						<p>منشورات المستخدم<br>
							عهدت وضمانات منشورات المستخدم: على الرغم من قائمة المواد التي يُمنع منعاً باتاً تداولها على
							الموقع كما هو مبين أعلاه، والتي تتعلّق بتقديم أو توزيع منشورات المستخدم الخاصة بك، إلا أنك
							تؤكد، وتمثّل وتضمن (١) أن يكون لديك الحقوق اللازمة والتراخيص والموافقات و/أو الأذونات لإعادة
							نشر منشورات المستخدم على الموقع والسماح للألفية الثالثة التراخيص التي تُمنح لك في ظل هذه
							الشروط، و(ب) أنك لن تعمد إلى خرق أو انتهاك حقوق أي طرف ثالث من خلال تقديمك لمنشورات المستخدم
							الخاصة بك أو استخدامك للتراخيص الممنوحة أدناه. تتحمّل أنت وحدك، وليس إثراء الحياة النسائي
							للتدريب، المسؤولية عن منشورات المستخدم الخاصة بك وعواقب مشاركتها مع الآخرين أو نشرها على
							الموقع.</p>

						<p>&nbsp;</p>

						<p>منح ترخيص للألفية الثالثة: إنك بموجب ما تقدّمه أو توزعه من منشورات المستخدم الخاصة بك تمنح
							إثراء الحياة النسائي للتدريب في جميع أنحاء العالم حقاً غير حصري، وقابل للنقل، والتعيين،
							والترخيص
							الفرعي، ومدفوع بالكامل، ودون أي مقابل، ودائم وغير مسترد رخصةً لاستضافة ونقل وعرض وأداء
							وإعادة إنتاج وتعديل وتوزيع وإعادة توزيع وإعادة ترخيص وخلاف ذلك الاستخدام، وتوفير واستغلال
							منشورات المستخدم الخاصة بك، كلياً أو جزئياً، في أي شكل وبأي صيغة إعلامية، ومن خلال أي قنوات
							إعلامية ( المعروفة الآن أو التي سيتم تأسيسها فيما بعد).</p>

						<p>منح الترخيص إلى المستخدمين: أنت تمنح بموجب ما تقوم بتقديمه أو ما توزّعه من منشورات المستخدم
							الخاصة بك، جميعَ مستخدمي الموقع (“المستخدم (ين)”) رخصة غير حصرية للوصول إلى واستخدام منشورات
							المستخدم الخاصة بك فيما يتعلق باستخدامهم للموقع ولأغراض شخصية خاصة بهم.</p>

						<h4>الشهادات والاعتمادات:</h4>

						<p>إن مركز إثراء الحياة النسائي للتدريب مركز معتمد وتحت إشراف المؤسسة العامة للتدريب المهني،
							ويعمل
							ضمن ضوابط المؤسسة والجهات اأخرى ذات العلاقة مثل البرنامج الوطني للتعليم الإلكتروني ووفق
							ضوابط واشتراطات نظامية حكومية وقد يتم تقديم شهادات إثراء الحياة النسائي للتدريب حسب مسار كل
							دورة
							ونوعها ومن خلال الموقع بعد إنهاء الدورة التدريبية بعد انتهاء التدريب واجتياز الاختبار
							النهائي "إن وجد" وكذلك نسبة الحضور المقررة المحددة لكل برنامج تدريبي على حده.</p>

						<p>بعضها تتم بشكل مجاني وقد يتطلب استخراج بعض الشهادات أو توثيقها أو شحنها رسوم إضافية لا
							تتحملها إثراء الحياة النسائي للتدريب أو الجهات التابعة لها .</p>

						<h4>العلامات التجارية:</h4>

						<p>استخدام مركز إثراء الحياة النسائي للتدريب، وغيرها من أسماء المؤسسات المشاركة والعلامات
							التجارية:
							إنّ اسم وشعار “إثراء الحياة النسائي للتدريب” هي علامة تجارية سعودية. لا يجوز لك استخدام أي
							من
							علامات إثراء الحياة النسائي للتدريب أو أي من العلامات التجارية الخاصة بالمؤسسات، أو ما يشبه
							أياً
							من المذكور، دون موافقة خطية مسبقة من صاحب العلامة التجارية ذات الصلة. لا يجوز لك استخدام أي
							من العلامات التجارية الخاصة بالمؤسسات، أو ما يشبه أياً من المذكور، لأغراض ترويجية، أو بأي
							شكل قد يدّعي أو يوحي، عمداً أو سهواً، أو يظهر أو يعطي انطباعاً بوجود علاقة أو تأييد من قبل
							هذه المؤسسات وذلك تبعاً لتقدير المؤسسة المعنية وحدها.</p>

						<p>لا تعود ملكية أي من العلامات التجارية إلى إثراء الحياة النسائي للتدريب أو غيرها من المؤسسات
							المشاركة التي تظهر على الموقع أو في أو من خلال الخدمات المتاحة على الموقع أو من خلاله، فهي
							إن وجدت، ملكية حصرية لأصحابها.</p>

						<p>لا ينبغي أن يُفسّر أي محتوى من المحتويات الواردة ضمن هذا الموقع على أنه يمنح، ضمناً أو
							قانوناً أو خلاف ذلك، أي ترخيص أو حق لاستخدام أي علامة تجارية معروضة على الموقع دون الحصول
							على إذن خطي من صاحب العلامة التجارية ذات الصلة.</p>

						<p>&nbsp;</p>

						<h4>التنازل عن الضمان / حدود المسؤوليات</h4>

						<p>إنّ الموقع وأيّة معلومات أو محتويات أو خدمات متوفرة على أو من خلال الموقع مقدمة “كما هي” و
							“كما هي متوفرة” دون ضمان من أي نوع (صريح أو ضمني أو غير ذلك)، بما في ذلك، وعلى سبيل المثال
							لا الحصر، أي ضمانات ضمنية للرواج والملاءمة لغرض معين وعدم مخالفتها، فيما عدا الضمانات
							الشبيهة لهذه والتي قد لا يجوز التنازل عنها بموجب القوانين المعمول بها.</p>

						<p>لا تضمن إثراء الحياة النسائي للتدريب والمشاركون بها (كما هم معرّفون أدناه) عمل الموقع دون
							انقطاع
							أو بشكل خال من الأخطاء، وأنّ الموقع خال من الفيروسات أو المكونات الضارة الأخرى، أو أنّ
							المساقات أو المحتوى المقدّم من شأنه تلبية احتياجاتك أو توقعاتك. كما لا تضمن إثراء الحياة
							النسائي
							للتدريب أو أي من المشاركين فيها دقة أو كمال ودوام أو جودة الموقع أو المساقات الدراسية أو
							المحتوى أو استمرارية</p>

						<p>يقع استخدام هذا الموقع، والمحتوى والخدمات التي يتم الحصول عليها من أو عبر الموقع على مسؤوليتك
							الخاصة. كما أنّ دخولك إلى أو تنزيلك لأي من المعلومات أو المواد أو البيانات المتاحة من خلال
							الموقع أو أي من المواقع المرجعية يقع تحت ضمانك ومجازفتك وستكون وحدك مسؤولاً عن أي ضرر يلحق
							بالممتلكات الخاصة بك (بما في ذلك نظام الحاسوب الخاص بك) أو أي فقدان للبيانات ينتج عن تنزيل
							أو استخدام هذه المواد أو البيانات، ما لم يتم التصريح عن خلاف ذلك ضمن سياسة الخصوصية الخاصة
							بتدريب . </p>

						<p>التنازل المتعلّق بمنشورات المستخدم: عليك أن تدرك أنك ستتعرض أثناء استخدامك للموقع لمنشورات
							مستخدمين متنوعة المصادر والتي لا تعتبر إثراء الحياة النسائي للتدريب أو أي من مشاركيها مسؤولة
							عن
							دقة وفائدة وموثوقية أو حقوق الملكية الفكرية أو مرتبطة بمنشورات المستخدمين هذه. كما أنه يجب
							عليك أن تفهم وتقرّ بأنك قد تتعرض لمنشورات مستخدمين غير دقيقة وهجومية وتشهيرية أو غير لائقة
							أو غير مرغوب فيها وأنك توافق على التنازل، وأنك تتنازل بموجب هذه الوثيقة عن أية حقوق قانونية
							أو منصفة أو تعويضات لك أو قد تكون ضد إثراء الحياة النسائي للتدريب أو أي من مشاركي تدريب فيما
							يتعلق بذلك. لا تصادق تدريب ولا أي من مشاركي إثراء الحياة النسائي على أي من منشورات
							المستخدمين أو
							أي رأي أو توصية أو مشورة يتم الإعراب عنها ضمن الموقع. لا تلتزم إثراء الحياة النسائي ولا أي
							من
							مشاركي إثراء الحياة النسائي للتدريب بمراقبة أي من منشورات المستخدمين أو أي تواصل يتم مع
							أعضاء
							آخرين ضمن الموقع.</p>

						<p>مع ذلك، تحتفظ إثراء الحياة النسائي للتدريب بحق مراجعة منشورات المستخدمين والتصرّف وفقاً
							لتقديرها
							المطلق لتعديل أو إزالة، كلياً أو جزئياً، أي من مشاركات المستخدمين في أي وقت ولأي سبب من
							الأسباب، أو السماح لمشاركي إثراء الحياة النسائي للتدريب بالقيام بذلك في أي وقت ولأي سبب من
							الأسباب. ولا يقتصر الأمر على ذلك، فقد تقوم إثراء الحياة النسائي للتدريب بالتحقيق في مزاعم
							وجود
							منشور لمستخدم لا يتوافق مع شروط إثراء الحياة النسائي للتدريب لتقديم الخدمة وذلك عند استلام
							إشعار
							من مستخدم أو مالك المحتوى وتحدّد، وفقاً لتقديرها المطلق، سواء ستقوم بتعديل أو إزالة، كلياً
							أو جزئياً، منشورات المستخدم غير المطابقة لشروطها في أي وقت تختاره ودون سابق إنذار.</p>

						<p>روابط لمواقع أخرى: قد يتضمن الموقع وصلات إلى مواقع أخرى يتم صيانتها وإدارتها من قبل أشخاص
							آخرين. ليست تدريب أو أي من مشاركي إثراء الحياة النسائي مسؤولة عن مسح أو الموافقة على أو
							المراجعة
							أو المصادقة على المحتويات أو استخدام أي من المنتجات أو الخدمات التي يمكن أن تقدمها هذه
							المواقع الأخرى. إذا قررت الوصول إلى مواقع مرتبطة بأطراف ثالثة فإنك تقوم بذلك على مسؤوليتك
							الخاصة.</p>

						<p>أنت توافق ولأقصى حد تسمح به القوانين المعمول بها على عدم مسؤولية إثراء الحياة النسائي أو أي
							من
							مشاركي إثراء الحياة النسائي عن أية خسارة أو ضرر، سواء كان حقيقياً أو مرتبطاً منطقياً أو
							ناشئاً عن
							أو متعلقاً بشروط تقديم الخدمة هذه، أو استخدامك (أو استخدام أي طرف ثالث) أو عدم القدرة على
							استخدام الموقع، أو مواضع المحتوى على الموقع، أو اعتمادك الخاص بك على المعلومات التي يتم
							الحصول عليها من أو عبر الموقع، سواء اعتمدت مطالبتك على العقد أو الضرر أو القانون أو غير
							ذلك.<br>
							على وجه الخصوص، وإلى أقصى حد يسمح به القانون المعمول به، لن تتحمّل إثراء الحياة النسائي
							للتدريب
							أو أي من مشاركيها مسؤولية أية ضرر سواء مباشر أو غير مباشر أو عقابي أو أضرار خاصة أو تحذيرية
							أو عرضية، سواء كانت منظورة أو غير متوقعة. وسواء كانت إثراء الحياة النسائي للتدريب أو أي من
							مشاركيها قد تهاونت أو أخطأت (بما في ذلك، وعلى سبيل المثال لا الحصر، المطالبات بتهمة التشهير
							والأخطاء وخسارة الأرباح أو فقدان البيانات أو انقطاع في توافر البيانات).</p>

						<h4>التعويض</h4>

						<p>أنت توافق على الدفاع وعدم الإضرار بإثراء الحياة النسائي أو بمشاركي إثراء الحياة النسائي
							والشركات
							التابعة لكل منها وفروعها وموظفيها وأعضاء هيئة التدريب والطلاب والزملاء، وأعضاء مجلس الإدارة
							المسؤولين والوكلاء والموظفين من وضد أي مطالبات من طرف ثالث أو إجراءات أو مطالب ناشئة من أو
							ناتجة عن أو بأي شكل من الأشكال ذات الصلة باستخدامك للموقع، بما في ذلك أية مسؤولية أو مصاريف
							تنشأ من أي وجميع المطالبات والخسائر والأضرار والدعاوى والأحكام وتكاليف التقاضي (الفعلية
							والتابعة) وأتعاب المحاماة، من كل نوع وطبيعة. توفر لك إثراء الحياة النسائي للتدريب أو أي من
							مشاركي
							إثراء الحياة النسائي للتدريب، في مثل هذه الحالة وحسب تقديرها المطلق، إشعاراً خطياً أو شفوياً
							لمطالبة أو دعوى أو إجراء مماثل.</p>

						<h4>متفرقات</h4>

						<p>وقوع الإنهاء؛ أو انقطاع التدريب والمحتوى: يجب أن توافق على السماح للألفية الثالثة بإنهاء
							استخدامك للموقع أو مشاركتك فيه وفقا لتقديرها المطلق ولأي سبب من الأسباب أو دون سبب بناءً على
							إخطارك بشكل مسبق. يُعد فصل مستخدمي الموقع الذين ينتهكون حقوق النشر بشكل متكرر سياسة للألفية
							الثالثة، وذلك تبعاً للظروف التي تراها مناسبة. تحتفظ إثراء الحياة النسائي للتدريب ومشاركو
							الألفية
							الثالثة للتدريب بحق إلغاء أو تأخير أو إعادة جدولة تغير هيكلية أي برنامج تدريبي مقدّم من خلال
							إثراء الحياة النسائي أو التوقف عن تقديم أي جزء أو كامل محتويات الموقع أو الخدمات ذات الصلة
							في أي
							وقت وذلك تبعاً لتقديرها الخاص، وأنت توافق على عدم مسؤولية إثراء الحياة النسائي للتدريب أو أي
							من
							مشاركي إثراء الحياة النسائي للتدريب تجاهك عن مثل هذا العمل. يمكنك إنهاء اشتراكك في الموقع في
							أي
							وقت إذا لم تعد راغباً في ذلك. ستنتهي الحقوق الممنوحة لك بموجب هذه الاتفاقية تبعاً لإنهاء حقك
							في استخدام الموقع، ولكن سيستمر العمل بالأحكام الأخرى لشروط الخدمة هذه.</p>

						<p>كامل الاتفاقية: تشكّل جميع هذه الشروط، وميثاق الشرف، و سياسة الخصوصية مُجمل الاتفاق بينك وبين
							إثراء الحياة النسائي للتدريب فيما يتعلق باستخدامك للموقع، وتحل محل أية اتفاقيات سابقة بينك
							وبين
							إثراء الحياة النسائي للتدريب بخصوص استخدامك للموقع.</p>

						<p>التنازل وقابلية فصل شروط الخدمة: لا يشكّل فشل إثراء الحياة النسائي للتدريب في ممارسة أو تنفيذ
							أي
							حق أو شرط من شروط الخدمة تنازلاً عن هذا الحق أو الحكم. إذا وجدت محكمة قضائية مختصة بطلان شرط
							من شروط الخدمة هذه ورغم اتفاق أطراف شروط الخدمة على وجوب سعي المحكمة لتفعيل دور نوايا
							الأطراف كما هو مبين في الحكم؛ تظل الأحكام الأخرى لهذه الشروط قائمة وسارية بشكل كامل.</p>

						<p>يُعتبر هذا الميثاق ساري المفعول بدءاً من تاريخها</p>

						<h4>سياسة الخصوصية</h4>

						<p>من بالغ الأهمية لدينا في إثراء الحياة النسائي للتدريب أن نحتفظ بسرية وأمان معلوماتكم الشخصية،
							ويُشار لأي معلومات عنكم تزودوننا بها عند استخدام موقعنا، مثل المعلومات التي تقدمونها عند
							التسجيل للحصول على حساب مستخدم أو عند الدخول في تعاملات عبر الموقع والتي قد تتضمن (على سبيل
							المثال لا الحصر) اسمك ومعلومات الاتصال والجنس وتاريخ الميلاد والمهنة؛ جمعاً بـ”معلومات
							شخصية”، كما أن أي إشارة لـ “نحن” و”لنا” تُعتبَر إشارة إلى إثراء الحياة النسائي للتدريب.</p>

						<p>سوف نبذل الجهود المعقولة تجارياً للحفاظ على أمان معلوماتك الشخصية عملاً بسياسة الخصوصية
							هذه.</p>

						<p>تنطبق سياسة الخصوصية هذه فقط على المعلومات التي نجمعها من خلال موقع إثراء الحياة النسائي
							للتدريب
							جميع المحتوى والصفحات الموجودة ضمن الموقع الإلكتروني ولا تنطبق على المعلومات التي قد نحصل
							عليها منك بطرق أخرى.</p>

						<h4>الموافقة على نقل المعلومات الشخصية</h4>

						<p>بموجب هذه الوثيقة، أنت توافق على جمع إثراء الحياة النسائي للتدريب لمعلوماتك الشخصية – كما
							بينت في
							سياسة الخصوصية هذه – واستخدامها والإفصاح عنها والاحتفاظ بها، بما في ذلك على سبيل المثال لا
							الحصر: نقل معلوماتك الشخصية بين إثراء الحياة النسائي للتدريب والغير والشركات التابعة
							والفرعية
							المبينة في سياسة الخصوصية هذه.</p>

						<p>وتعتبر أي موافقة متعلقة بحق نقل المعلومات المشار إليها في هذه الفقرة أنها تتضمن موافقتكم على
							نقل المعلومات الشخصية القابلة للتطبيق إلى اختصاص قضائي آخر، وهذا قد ينجم عنه مستوى مختلف من
							حماية الخصوصية عما هو سارٍ في بلدك.</p>

						<h4>المعلومات التي نجمعها وكيف نستخدمها</h4>

						<p>نحن نقوم بجمع المعلومات بما فيها المعلومات الشخصية عندما تقوم بالتسجيل للحصول على حساب مستخدم
							و/أو المشاركة في التدريب و/أو أن ترسل لنا بريداً إلكترونياً و/أو تشارك في منصاتنا العامة،
							كما نقوم بجمع بعض معلومات الاستخدام حول أداء الطلبة وأنماط التعلّم، بالإضافة لما سبق فنحن
							نتتبّع المعلومات التي تبيّن سجلات مثل الصفحات التي تزورها في موقعنا ومواعيد زيارتها والترتيب
							الذي تمت زيارتها فيه وأي الروابط التشعبية وغيرها من أدوات واجهة المستخدم قد استعملتها.</p>

						<p>قد نقوم بتسجيل عنوان بروتوكول الإنترنت ونظام التشغيل والمتصفح الذي يستخدمه كل مستخدم وقد
							نتمكن – بناءً على عنوان بروتوكول الإنترنت – من تحديد مزود خدمة الإنترنت الخاص بالمستخدم
							والموقع الجغرافي لنقطة اتصاله.<br>
							نستخدم مجموعة متنوعة من أدوات تحليل الإنترنت لجمع هذه المعلومات غير أن بعض المعلومات تُجمَع
							بواسطة الكوكيز، ويجب أن تكون قادراً على أن تتحكم فيما إذا كان متصفحك يقبل الكوكيز وكيفية
							قبوله لها حيث أن معظم المتصفحات تقدّم تعليمات لكيفية إعادة ضبط المتصفح كي يرفض الكوكيز من
							خلال قسم “المساعدة” في شريط الأدوات، غير أنك إذا رفضت “الكوكيز” من موقعنا فإن العديد من
							الخصائص والفوائد التي يقدّمها موقعنا لك قد لا تعمل كما ينبغي.</p>

						<p>&nbsp;</p>

						<h4>الاستخدام والإفصاح للغير</h4>

						<p>يمكن أن نقوم نحن وشركاؤنا في التدريب ممّن يقدّمون المساقات عبر موقع إثراء الحياة النسائي
							للتدريب
							باستخدام معلوماتك التي تُجمَع من الموقع من بين أمور أخرى (بما فيها معلوماتك الشخصية). في حال
							مشاركتنا أو إفصاحنا عن معلوماتك الشخصية للغير، يطالب هذا الغير بالتعامل مع معلومات الشخصية
							بسرية وأن يحافظ على الأمان الكافي لحماية المعلومات من الضياع أو سوء الاستخدام أو الاستخدام
							غير المسموح أو الإفصاح أو التعديل أو الإتلاف.</p>

						<p>سوف نقوم بالإفصاح عن المعلومات الشخصية المطلوبة من الغير ومشاركتها من أجل تلبية الطلب المذكور
							عند جمع هذه المعلومات مثل:</p>

						<ul>
							<li>تمكين المنظمات الحكومية الشريكة لنا من إقامة الدورات وإدارتها وتحسينها>.
							</li>
							<li>مساعدتنا ومساعدة المؤسسات الحكومية في تحسين جودة التدريب سواء الصعيد الفردي (مثلاً كادر
								الدورة عند العمل مع طالب) أو الجماعي، كما تساعدنا في تقييم دخول واستخدام الموقع وتأثير
								تدريب على مجتمع التعليم على النطاق العالمي.</li>
							<li>تتبّع الحضور الفردي والجماعي والتقدّم الحاصل والإكمال للدورات الإلكترونية وتحليل
								إحصائيات أداء الطالب والطريقة المستخدمة من قِبله للتعلّم.</li>
							<li>نشر المعلومات، غير المعلومات الشخصية، المجموعة حول الدخول إلى موقع إثراء الحياة النسائي
								واستخدامه وتأثيره وأداء المتدربين.</li>
							<li>إرسال تحديثات حول الدورات على الإنترنت التي تقدّمها إثراء الحياة النسائي أو غيرها من
								المناسبات، ومراسلتكم حول إخطارات عن منتجات أو خدمات إثراء الحياة النسائي أو الشركات
								التابعة
								لها أو شركاء أعمال مختارين قد يهمك أمرهم، أو إرسال رسائل إلكترونية لك حول أي شؤون تتعلق
								بصيانة الموقع أو تحديثاته.</li>
							<li>لأغراض الأبحاث العلمية وخاصة على سبيل المثال: مجالات العلوم المعرفية والتعليم.</li>
							<li>أرشفة هذه المعلومات و/أو استخدامها من أجل التواصل معكم في المستقبل.</li>
							<li>الحفاظ على وظائف وأمان الموقع وبرنامجنا وأنظمتنا وشبكتنا وتحسينها</li>
							<li>يمكن أن نشارك المعاهد التعليمية بالمعلومات التي نجمعها، ويمكن مشاركة هذه المعلومات (بما
								فيها المعلومات الشخصية) مع الغير على الشكل التالي:<br>
								مزودي خدمات أو مقاولين يؤدون خدمات معينة نيابةً عنّا أو عن المؤسسات التعليمية بما في ذلك
								معالجة المعلومات التي تزودنا بها على الموقع أو تشغيل الموقع أو أقسام منه أو تزويد أو
								إدارة الدورات أو فيما يتعلق بجوانب أخرى من خدمات إثراء الحياة النسائي للتدريب أو
								المؤسسات
								الشريكة.</li>
							<li>لأغراض الأبحاث العلمية (كما ذكرنا سابقاً)، غير أننا سنشارك المعلومات الشخصية الخاصة بك
								فقط بالمقدار الضروري لتلبية الغرض المذكور في وقت جمع هذه المعلومات.</li>
							<li>لتزويدكم بفرص التواصل مع مستخدمين آخرين ممّن قد يكون لهم نفس اهتماماتكم أو أهدافكم
								التعليمية، مثلاً، قد نوصيكم بشركاء دراسة محددين أو تعريفكم بطلاب متلقّين أو مرشدين
								محتملين. وفي هكذا حال فقد نستخدم المعلومات التي نجمعها حولكم لتحديد من قد يكون مهتماً
								بالتواصل معكم، لكننا لن نزود المستخدمين الآخرين سوى باسم المستخدم الخاص بكم ولن نفصح لهم
								عن اسمكم الحقيقي أو عنوان بريدكم الإلكتروني.</li>
							<li>قد نستضيف لأغراض التكامل مع خدمات الغير بعض المحتوى الذي لا تتحكم به إثراء الحياة
								النسائي
								للتدريب كاستضافة فيديوهات من موقع يوتيوب.<br>
								إضافة لما سبق فقد نشارك معلومات جمعناها ولا تشكل إمكانية تعرّف شخصي عليكم مع العموم ومع
								الغير، بما في ذلك على سبيل المثال لا الحصر: الباحثين وشركاء الأعمال.
							</li>
						</ul>

						<p>&nbsp;</p>

						<h4>روابط إلى مواقع إلكترونية أخرى</h4>

						<p>قد يحتوي الموقع روابط إلى مواقع إلكترونية للغير كمزودي محتوى آخرين وبعض مزودي الخدمات، غير أن
							هذه المواقع الأخرى ليست تحت إدارتنا وبذلك عليك أن تتفهم وتوافق على أننا لا نتحمل مسؤولية جمع
							هذه المواقع واستخدامها لمعلوماتك ما لم تتم الإشارة له بغير ذلك في سياسة الخصوصية هذه. نوصيكم
							بالحرص عندما يتم توجيهكم إلى موقع الغير لتقوموا بمراجعة سياسات الخصوصية لكل موقع تزورونه
							وتستخدمونه.</p>

						<h4>تغييرات سياسة الخصوصية</h4>

						<p>يرجى الأخذ بعين الاعتبار أننا نقوم بمراجعة سياسة الخصوصية هذه دورياً وقد نُجري عليها بعض
							التغييرات، عندما نُجري أية تغييرات فإن رابط سياسة الخصوصية سيحتوي إشارة “مراجعة حديثة (مع
							التاريخ)” مما يشير إلى وجوب مراجعتك للأحكام الجديدة التي تعتبر سارية فور نشر السياسة الجديدة
							على هذه الصفحة مع تاريخ نفاذ جديد. ستبقى هذه الإشارة موضوعة إلى جانب رابط سياسة الخصوصية
							لمدة عشرة (١٠) أيام على الأقل بعد إجراء التحديثات. ويُعتبَر دخولك الموقع بعد إجراء أي
							تغييرات موافقةً مسبقة منك على سياسة الخصوصية المعدّلة وأية تغييرات فيها، وفي حال استلامك
							إشعار بالتعديلات والمذكور أعلاه، احرص على زيارة هذه الصفحة بشكل دوري للتأكد من معرفتك بأحدث
							نسخة من سياسة الخصوصية.</p>



					</div>




				</div>
			</div>
		</section>
		<!-- Footer -->
		<app-footer13></app-footer13>
		<!-- Footer END-->
		<button class="scroltop fa fa-chevron-up"></button>
	</div>