<div class="page-wraper">

    <!-- header -->
    <app-header-light3></app-header-light3>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <app-banner1 [data]="banner"></app-banner1>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
            <!-- About Us -->
            <!-- old -->
            <!-- <app-content12 [data]="skills"></app-content12> -->
            <!-- About Us End -->
            <!-- Service Info Head -->
            <!-- old  -->
            <!-- <app-content13></app-content13> -->

            <!-- Our Services -->
            <!-- Features -->
            <!-- <app-services-element1 [data] = "services"></app-services-element1> -->
            <!-- Features End -->
        </div>
        <!-- contact area END -->

        <section class="hhh">
            <div class="container">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-6 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.5s"
                            style="text-align:right; visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <h2 class="text-uppercase mt-0 font-weight-600">

                                <span class="text-theme-colored">مرحباً بكم في مركز إثراء الحياة النسائي للتدريب</span>

                            </h2>
                            <h4 class="text-gray-dimgray font-weight-400 ">
                                <p>يعد التدريب اليوم من العوامل المهمة في تطوير أعمال المنظمات وزيادة انتاجيتها
                                    وفعاليتها، كما أن تطوير العنصر البشري في المنظمة هو حجر الزاوية للتغيير وتقديم أفضل
                                    الخدمات لجمهور المنظمة</p>

                                <p>وفي الوقت الحاضر تعيش المملكة العربية السعودية نهضة تنموية شاملة ,مما أسهم في وضع
                                    المملكة
                                    في مصاف الدول المتطورة في المجالات الاقتصادية والإدارية والبشرية</p>
                                <p>إن المركز على إيمان بأن العملية التدريبية هي علاقة شراكة دائمة بين جهة التدريب
                                    والمنظمة,ومن هذا المنطلق فإن مركز إثراء الحياة النسائي للتدريب يعتز بأن يكون
                                    شريكا دائماً
                                    للمنظمات في مجال التدريب والتطوير,علما بأنه لديه القدرة على تصميم برامج تدريبية حسب
                                    المتطلبات وأن تكون ضمن مجالاتنا التدريبية المعتمدة</p>
                            </h4>
                        </div>
                        <div class="col-md-6 wow fadeInRight mt-5" data-wow-duration="1s" data-wow-delay="0.3s"
                            style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInRight;">
                            <div class="row mb-10">
                                <div class="col-md-12">
                                    <img class="img-fullwidth" width="555" height="200" src="assets\images\im24.jpeg"
                                        alt="">
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-6 pr-5 pr-sm-15 mb-sm-10">
                                    <img class="img-fullwidth" width="274" height="200" src="assets\images\im40.jpg"
                                        alt="">
                                </div>
                                <div class="col-md-6 pl-5 pl-sm-15">
                                    <img class="img-fullwidth" width="274" height="195" src="assets\images\im26.jpeg"
                                        alt="">
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- Content END-->
    <!-- Footer -->
    <!-- Newsletter -->
    <!-- <app-newsletter2></app-newsletter2> -->
    <!-- Footer -->
    <app-footer13></app-footer13>
    <!-- Footer END-->
    <button class="scroltop fa fa-chevron-up"></button>
</div>