<div class="page-wraper">

	<!-- header -->
	<app-header-light3></app-header-light3>
	<!-- header END -->
	<!-- Content -->
	<div class="page-content bg-white">
		<!-- inner page banner -->
		<app-banner1 [data]="banner"></app-banner1>
		<!-- inner page banner END -->
		<!-- contact area -->
		<!-- <div class="content-block"> -->
		<!-- About Services info -->
		<!-- <app-content11></app-content11> -->
		<!-- About Services info END -->
		<!-- Company staus -->
		<!-- <app-counter1></app-counter1> -->
		<!-- Company staus End -->
		<!-- Team Section -->
		<!-- <app-team3></app-team3> -->
		<!-- Team Section END -->
		<!-- Latest blog -->
		<!-- <app-blog1></app-blog1> -->
		<!-- Latest blog END -->

		<!-- new -->

		<!-- </div> -->
		<!-- contact area END -->
	</div>
	<!-- Content END -->
	<!-- Newsletter -->
	<!-- <app-newsletter2></app-newsletter2> -->

	<section>
		<div class="container">
			<div class="row">
				<div class="single-service">

					<h3>حماية مبادئ حقوق الملكية الفكرية وحقوق النشر</h3>
					<p>الالتزام باحترام حقوق الملكية الفكرية وحقوق النشر</p>


					<h4> نلتزم في مركز إثراء الحياة النسائي للتدريب بحقوق الملكية الفكرية عند النشر : </h4>
					<p>نلتزم في مركز إثراء الحياة النسائي باحترام حقوق الملكية الفكرية عند تصميم الدورات
						التدريبية
						على
						منصتنا التعليمية او على أي من حساباتنا الخاصة على مواقع التواصل الاجتماعي كالصور
						والبوسترات
						الدعائية وغيرها من المواد المنشورة.</p>
					<h4> التزام المدرب بحقوق الملكية الفكرية عند كتابة محتوى
						الدورة : </h4>
					<p>نقوم بمهمة تحويل المحتوى العلمي المُعد من المدربين الى محتوى رقمي، ويتم الزم
						المدربين
						المشاركين في إعداد المحتوى باحترام حقوق الملكية الفكرية والنشر وان يشير الى كل
						المراجع
						والمصادر المستخدمة في كتابة محتوى الدورة. وأن يقوم المدرب قبل البَدْء في صياغة
						المحتوى
						بالتوقيع على نموذج تعهد وإقرار بإعداد محتوى يحترم جميع قوانين الملكية الفكرية ورخص
						وحقوق
						.النشر والتأليف حسب الأنظمة المعمول بها في المملكة العربية السعودية</p>
					<p>يتعهد كذلك المدربين بالإشارة إلى المراجع العلمية والمصادر التي تم استخدمها في إعداد
						محتوى
						الدورة، وفي حال استخدام محتويات تدريبية مفتوحة المصدر، يلتزم أيضا بالحرص على احترام
						جميع
						رخص
						هذه الموارد المفتوحة، كما يقر بأن الملكية الفكرية للمحتوى الذي يتم كتابته بواسطة
						مركز
						إثراء الحياة النسائي للتدريب، تجدر الإشارة إلى أن أي عملية كتابة محتوى الدورة من طرف مركز
						الالفية
						الثالثة للتدريب يسبقها ترخيص من قبل مدرب الدورة المقدمة وإدارة مركز إثراء الحياة النسائي
						للتدريب.</p>

					<h4> التزام المدرب عند رفع المحتوى على المنصة التعليمية الخاصة
						بالمركز :</h4>
					<p>
						يقر مدرب مركز إثراء الحياة النسائي للتدريب ان كل محتوى يتم رفعه على المنصة التعليمية من
						دورات
						مسجلة أو أسئلة اختبار أو استبيان لا بد أن يراعى فيه احترام حقوق الملكية الفكرية
						ومبادئ
						حقوق
						النشر، كما يقر المدرب أن جميع الدورات المرفوعة على المنصة تصبح تحت تصرف مركز الالفية
						الثالثة
						.للتدريب ممثلة، بحيث يمكن للمركز أن يستخدمها لأغراض تطويرية أو تدريبية

					</p>
					<h4> الالتزام بسياسة حفظ واستخدام المواد في المنصة التعليمية الخاصة بالمركز : </h4>
					<p>يوفر مركز إثراء الحياة النسائي للتدريب مجموعة من الأنظمة والبرامج؛ ليستفيد منها المتدربين
						كنظام
						التعلم الإلكتروني ، ونظام الفصول الافتراضية على تطبيق تيمز التابع لشركة مايكروسوفت
						وغيرها من
						الانظمة الرقمية الأخرى، ويترتب على استخدام هذه البرامج إنتاج مجموعة من المحتويات
						والمواد
						؛
						يتم رفع بعضها من قبل المستخدم في صورة ملفات بمختلف أنواعها والبعض الآخر ينتجه النظام
						في
						شكل
						بيانات إحصائية حول نسبة حضور المتدرب وتفاعله مع محتوى الدورة ورصد الدرجات التي
						احرزها في
						الاختبارات ، كذلك يخضع التصرف في هذا المواد إلى سياسة واضحة تمت صياغتها من قبل مركز
						الالفية
						الثالثة للتدريب وتم خلالها مراعاة حقوق الملكية الفكرية وقوانين النشر والاستخدام بهدف
						إحكام
						تصنيف المواد وفق درجة حساسيتها وحجم سريتها والمخاطر المرتبطة بها، كما تم وضع
						السياسات
						الضرورية للتحكم فيها والانتفاع بها لفائدة المنظومة التدريبية لمركز إثراء الحياة النسائي
						للتدريب.</p>
					<h5> يلتزم كل من المدرب والمتدرب بالحفاظ التام على معلومات تسجيل الدخول الى المنصة
						التعليمية وعدم افشاؤها الى أي شخص آخر، فهي خاصة به فقط .</h5>
					<h5> يلتزم كل من المدرب والمتدرب في حال كان هناك أكواد خصم اختبارات او دورات بالحفاظ
						عليها واستخدامها لنفسه لغرض التسجيل سواء بدورات المركز أو مراكز الاختبار، وان لا
						يقوم
						بتوزيعها لأشخاص آخرين .</h5>
					<h5> جميع المواد والحقائب التدريبة متوفرة بحساب المتدرب خاصة به، تكون موجودة بحسابه
						بحيث
						يستطيع الوصل اليها في أي وقت، لذلك هي غير قابلة للنشر والتوزيع سواء على الانترنت
						اوطباعتها فهي تعد من ضمن حقوق مركز إثراء الحياة النسائي للتدريب.</h5>




				</div>
			</div>
		</div>
	</section>
	<!-- Footer -->
	<app-footer13></app-footer13>
	<!-- Footer END-->
	<button class="scroltop fa fa-chevron-up"></button>
</div>